.hero-banner {
  height: 400px;
  width: 85%;
  border-radius: 15px;
  background-image: url("../../../assets/pic3.JPG");
  background-size: cover;
  background-position: center;
  color: white;
  margin: 15px auto;
}

.hero-content {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  align-items: flex-start;
}

.event-details {
  max-width: 600px;
}

.event-details h1 {
  font-size: 3.3rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.event-tagline {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.event-venue,
.event-date {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.position-icon {
  margin-right: 10px;
}

.tickets-button {
  background: linear-gradient(-45deg, #e9b200, #e67833);
  color: white;
  padding: 0.8rem 2rem;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 25px;
  margin-top: 1.5rem;
  transition: all 0.3s ease;
}

.tickets-button:hover {
  background: linear-gradient(45deg, #e89b1e, #e67833);
  transform: translateY(-2px);
}

@media (max-width: 768px) {
  .event-details h1 {
    font-size: 3rem;
  }

  .event-tagline {
    font-size: 1.2rem;
  }
}
